@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 16px;
}

/* my code */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #e5e4e2;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 75px;
}
.fs-36 {
  font-weight: 600;
  font-size: 2.25rem;
}

.fs-42 {
  font-weight: 600;
  font-size: 2.625rem;
}
.fs-33 {
  font-weight: 500;
  font-size: 2.0625rem;
}
.fs-13 {
  font-weight: 600;
  font-size: 0.8125rem;
}
.fs-24 {
  font-weight: 600;
  font-size: 1.5rem;
}
.fs-20 {
  font-weight: 600;
  font-size: 1.25rem;
}
.fs-12 {
  font-weight: 600;
  font-size: 0.6875rem;
}

.fs-14 {
  font-weight: 600;
  font-size: 0.875rem;
}
.fs-30 {
  font-weight: 500;
  font-size: 1.875rem;
}
.fs-27 {
  font-weight: 700;
  font-size: 1.6875rem;
}
.fs-17 {
  font-weight: 600;
  font-size: 1.0625rem;
}
.fw-700 {
  font-weight: 700;
}
.black {
  color: black;
}
.white {
  color: white;
}
.pinkbg {
  background-color: #ae478c;
}
.gray {
  color: #636466;
}
.graybg {
  background-color: #636466;
}
.green {
  color: #009b77;
}
.greenbg {
  background-color: #009b77;
}
.flex {
  display: flex;
}
.center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

/* common */

.pLR67 {
  padding: 0 5.875rem;
}
.upArrowContainer {
  position: fixed;
  bottom: 15%;
  right: 1%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: smooth;
}
.top {
  scroll-behavior: smooth;
}
.upArrow {
  color: white;
  font-size: 1.25rem;
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
.load {
  width: 50px;
  height: 50px;
  margin: 50px auto 0;
  border: solid 5px #009b77;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;

  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
img {
  object-fit: cover;
}
.pointer {
  cursor: pointer;
}
.content-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
}
.mt-12 {
  margin-top: 12px;
}
.mt-6 {
  margin-top: 6px;
}
.h-60 {
  height: 80vh;
}
.w48 {
  width: 40%;
}

/* header */
.home {
  position: relative;
  height: 75vh;
  width: 75vw;
  margin: 0 auto;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 6px;
  border-radius: 50%;
}
.header {
  padding: 0.4rem 5.875rem;
  box-shadow: 0px 1px 20px 0 rgba(0, 0, 0, 0.59);
}
.brand {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}
.navLink {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 18px 0;
  display: inline-flex;
  z-index: 10;
  border-bottom: 2px solid transparent;
}
.fixedBar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(17, 17, 17);
  z-index: 100;
}
.navigationList {
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 10px;
  text-transform: capitalize;
  color: white;
}
.close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
@keyframes navlinkAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.navLink:hover {
  border-color: white;
  animation: navlinkAnimation 0.5s;
}
.iDSLinks:hover {
  animation: navlinkAnimation 0.5s;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.brand:hover {
  animation: navlinkAnimation 0.5s;
}
.active {
  border-bottom: 2px solid white;
}
.iDSActive {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.no-underline {
  text-decoration: none;
}

.iDSList {
  display: none;
  z-index: -9;
}

.iDSList:hover {
  display: block;
}
.iDSLinks {
  font-size: 0.7rem;
  font-weight: 500;
  margin: 18px;
  display: block;
  color: white;
}
.blackContainer {
  width: 100%;
  height: 7px;
  background-color: black;
  display: block;
}
.iDS:hover > .iDSList {
  display: block;
  background-color: #009b77;
  position: absolute;
  top: 100%;
  left: 6%;
  right: 0;
  box-shadow: 0px 1px 20px 0 rgba(0, 0, 0, 0.59);
}

/* home */
.hutContainer {
  width: 32%;
  margin: 15rem auto 0 auto;
  height: 80vh;
}

.hutBorder {
  width: 15rem;
  height: 1rem;
  background-color: black;
  position: absolute;
  z-index: 10;
}

.hutContainer:hover > .hutBorderNavlink > .hutBorder,
.hutContainer:hover > .hutBorderNavlink > .chimney > .chimneyWall {
  background: url("../src/images/home/woodenTexture.webp");
}
.topLeft {
  transform: rotate(-20deg);
  left: 0;
  top: 10%;
}
.topRight {
  transform: rotate(20deg);
  right: 0;
  top: 10%;
}
.left {
  transform: rotate(90deg);
  left: -29%;
  top: 41%;
  width: 19rem;
}
.bottom {
  bottom: 30%;
  left: 1.3%;
  width: 97.5%;
}
.right {
  transform: rotate(90deg);
  width: 5rem;
  right: 14%;
  bottom: 38%;
}
.chimney {
  position: absolute;
  top: -1%;
  right: 10%;
  height: 4rem;
  width: 16%;
}
.chimneyWall {
  width: 1rem;
  height: 4.5rem;
  background-color: black;
  z-index: 10;
}
.chimneyRight {
  position: absolute;
  height: 5.5rem;
  right: 0;
  top: 0%;
  z-index: 1;
}
.chimneyTop {
  position: absolute;
  height: 5.5rem;
  right: 38%;
  top: -42%;
  transform: rotate(90deg);
}

.hangingFlowerPot {
  width: 4rem;
  height: 6rem;
  position: absolute;
  right: 5%;
  top: 15%;
  filter: grayscale(100);
}
.flowerPot {
  width: 6rem;
  height: 6rem;
  position: absolute;
  right: -1.8%;
  bottom: 32%;
  filter: grayscale(100);

  background-color: white;
}
.vastuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  position: absolute;
  top: 22%;
  left: 20%;
}
.vastu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  filter: grayscale(100);
  border: 3px solid rgb(147, 32, 255);
}
.vastuLabel::after {
  content: "";
  position: absolute;
  bottom: -70%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 20px solid rgb(147, 32, 255); /* Color of the arrow */
}
.vastu:hover ~ .vastuLabel {
  display: block;
  position: absolute;
  top: -180%;
  left: 40%;
  color: white;
  text-align: center;
  background-color: rgb(147, 32, 255);
  padding: 6px 9px;
  z-index: 100;
}
.vastu:hover {
  transform: scale(1.2);
  filter: grayscale(0);
}
.fs-8 {
  font-size: 9px;
}
.desk {
  width: 10rem;
  height: 7rem;
  bottom: 32%;
  left: 25%;
  object-fit: cover;
  filter: grayscale(100);

  position: absolute;
}

.deskContainer:hover > .deskLabel {
  display: block;
  position: absolute;
  bottom: 50%;
  right: 15%;
  background-color: rgb(255, 136, 0);
  color: white;
  padding: 6px 9px;
}
.deskLabel::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px; /* Adjust distance from the left side */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid rgb(255, 136, 0); /* Color of the triangle */
}
.flowerHover:hover ~ .flowerLabel {
  display: block;
  position: absolute;
  bottom: 55%;
  z-index: 100;
  right: 25%;
  background-color: rgb(64, 141, 41);
  color: white;
  padding: 6px 9px;
}
.flowerLabel::after {
  content: "";
  position: absolute;
  top: -20%;
  right: -18px; /* Adjust distance from the left side */
  transform: translateY(-50%);
  transform: rotate(180deg);
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid rgb(64, 141, 41); /* Color of the triangle */
}
.flowerPot:hover,
.hangingFlowerPot:hover,
.desk:hover {
  filter: grayscale(0);
}
.exterior,
.flowerLabel,
.deskLabel,
.vastuLabel {
  display: none;
  font-size: 15px;
  text-align: center;
}
.exterior::before {
  content: "";
  position: absolute;
  top: 0;
  left: -15%;
  transform: translateY(50%);
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-image: url("../src/images/home/woodenTexture.webp") 30 stretch; /* Adjust height and color as needed */
  border-left: 26px solid transparent;
  transform: rotate(45deg);
  z-index: -1;
}
.hutBorder:hover ~ .exterior {
  display: block;
  position: absolute;
  top: 30%;
  left: 20%;
  background: url("../src/images/home/woodenTexture.webp");
  color: white;
  padding: 6px 9px;
  z-index: 1;
}
.desk:hover,
.flowerPot:hover,
.hangingFlowerPot:hover {
  transform: scale(1.1);
}
.structure {
  height: 92vh;
  width: 100%;
}
.structureImageOverlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 75%;
  top: 0;
  z-index: 10;
  padding-top: 3%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 14px;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.structureImage {
  filter: grayscale(100);
}
.structureVastu {
  position: absolute;
  top: 3.7%;
  left: 6%;
  bottom: 42%;
  z-index: 9;
  right: 78.8%;
  background: url("../src/images/home/lamp.jpg");
  background-size: cover;
  filter: grayscale(100);
}
.structureVastu:hover,
.structureLandscape:hover,
.structureInterior:hover,
.structureInterior:hover + .structureInterior2 {
  filter: grayscale(0);
  cursor: pointer;
}
.structureLandscape {
  position: absolute;
  top: 42%;
  left: 85%;
  bottom: 0%;
  z-index: 10;
  right: 1%;
  background: url("../src/images/home/landscape.jpg");
  background-size: cover;
  filter: grayscale(100);
}

.structureInterior {
  position: absolute;
  top: 58%;
  left: 15.35%;
  bottom: 0%;
  z-index: 10;
  right: 40.7%;
  background: url("../src/images/home/interior.jpg");
  background-size: cover;
  filter: grayscale(100);
}

.structureInterior2 {
  position: absolute;
  top: 54.5%;
  left: 33.2%;
  bottom: 42%;
  z-index: 10;
  right: 59.4%;
  background: url("../src/images/home/interior2.jpg");
  background-size: cover;
  filter: grayscale(100);
}
.label {
  position: absolute;
  padding: 6px 9px;
  z-index: 10;
  display: none;
}
.structureVastu:hover ~ .vastuLabelStructure {
  display: block;
  background-color: yellow;
  color: black;
  top: 30%;
  left: 25%;
}
.vastuLabelStructure::before {
  content: "";
  position: absolute;
  bottom: -25%;
  left: -45%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 30px solid yellow;
  border-bottom: 20px solid transparent;
}
.structureLandscape:hover ~ .landscapeLabelStructure {
  display: block;
  bottom: 30%;
  right: 20%;
  background-color: green;
  color: black;
}
.landscapeLabelStructure::after {
  content: "";
  position: absolute;
  bottom: -25%;
  right: -30%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 30px solid green;
  border-bottom: 20px solid transparent;
}
.structureInterior:hover ~ .interiorLabelStructure {
  display: block;
  bottom: 30%;
  right: 32%;
  background-color: rgb(248, 142, 3);
  color: black;
}
.interiorLabelStructure::before {
  content: "";
  position: absolute;
  bottom: -25%;
  left: -40%;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 30px solid rgb(248, 142, 3);
  border-bottom: 20px solid transparent;
}

.hutHoverText {
  position: absolute;
  top: -10%;
  left: 0;
  right: 0;
  bottom: 100%;
  background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0));
  text-align: center;
  padding-top: 2%;
  z-index: 10;
  color: rgb(255, 255, 255);
}
.pL67 {
  margin-left: 5.875rem;
}
.pR67 {
  margin-right: 5.875rem;
}
.w50 {
  width: 50.5%;
}
.mt-144 {
  margin-top: 9rem;
}
.newsContent {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 0;
}
.newsContent > p {
  text-align: justify;
}

.border-bottom {
  border-bottom: 3px solid black;
}
.earthImage,
.ourPurposeImage,
.parallelImagesRight,
.parallelImagesLeft,
.news1Image {
  height: 21rem;
  width: 100%;
}

.collection-container {
  display: flex;
  justify-content: center;
}
.collection {
  overflow: hidden;
  display: flex;
  align-items: start;
  transition: all 0.5s ease; /* Smooth transition for sliding */
}
.collectionList {
  width: 17%;
  display: block;
  flex: 0 0 auto;
}
.collectionList:nth-last-child(1) {
  margin-right: 0;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(229, 228, 226, 0.5);
}
.collectionImage {
  width: 100%;
  height: 10.625rem;
  margin-bottom: 30px;
}
.bR50 {
  border-radius: 50%;
}
.imageHoverBox {
  display: none;
}
.imageHover,
.projectHover {
  position: relative;
}
.projectHover:hover > .imageHoverBox,
.imageHover:hover > .imageHoverBox,
.collectionList:hover > .imageHoverBox {
  display: block;
  position: absolute;
  width: 5rem;
  height: 1.2rem;
  background-color: rgba(0, 155, 119, 0.7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.projectHover:hover > .imageHoverBox {
  bottom: 0;
  right: 0;
}
.imageHover:hover > .imageHoverBox {
  top: 19.8rem;
  right: 0;
}
.collectionList:hover > .imageHoverBox {
  top: 9.425rem;
  right: 0;
}
.border-bottom-white {
  border-bottom: 3px solid white;
}

.insights {
  width: 70vw;
  padding-right: 20vw;
}

/* work */
.selectedProjectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 12.5rem);
  grid-template-rows: auto;
  gap: 0.75rem 1.5rem;
}
.blockC {
  display: block;
  height: 100%;
}
.workContainer {
  margin-bottom: -48px;
}
.line {
  width: 70px;
  height: 3px;
  background-color: black;
}
.projectsList {
  flex-wrap: wrap;
  justify-content: space-between;
}
.w-250I {
  width: 100%;
}
.w-250O {
  width: 23%;
}
.video {
  width: 100%;
  height: 80vh;
}
tr {
  border-bottom: 2px solid #d8d8d8;
}
th,
td {
  padding: 2rem 1rem;
}
.w-22 {
  width: 18%;
}

/* footer */
.footer {
  display: block;
  background-image: url("/src/images/home/footerbg.jpg");
  background-size: cover;
  margin-top: 8rem;
  background-color: rgba(17, 17, 17, 0.9);
  background-blend-mode: overlay;
  padding: 9.5rem 5.875rem;
}
.hr {
  background-color: white;
  height: 1px;
  width: 100%;
  margin: 3rem 0;
}

/* vastu solutions */
.vastuBannerContainer {
  width: 100%;
  height: 12rem;
}
.vastuBannerOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.25rem;
}
.dot {
  list-style: circle;
  margin-left: 1.5rem;
}

@keyframes imageAnimationRight {
  0% {
    transform: translate(100%);
  }

  100% {
    transform: translate(0);
  }
}
.animateRight {
  animation-name: imageAnimationRight;
  animation-duration: 2s;
}
@keyframes imageAnimationLeft {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0);
  }
}
.animateLeft {
  animation-name: imageAnimationLeft;
  animation-duration: 2s;
}

/* people */

.keyPrinciples {
  width: 30%;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.keyPrinciples:hover > .KPHoverText {
  display: none;
}
.keyPrinciplesOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 27px;
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 1rem;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.6));
}
.keyPrinciplesContainer:hover > .keyPrinciples:not(:hover) {
  filter: blur(2px);
  transform: scale(0.7);
  transition: transform 1s;
}
.keyPrinciplesContainer:not(:hover) > .keyPrinciples {
  transition: all 1s;
}
.keyPrinciples:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.keyPrinciples:hover > .keyPrinciplesOverlay {
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
  transition: all 1s;
}

.discoverMore {
  display: none;
}
.keyPrinciples:hover > .keyPrinciplesOverlay > .discoverMore {
  display: block;
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.br50 {
  border-radius: 50%;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.KPOverlay {
  font-family: "Shadows Into Light Two", cursive;
  position: fixed;
  letter-spacing: 3px;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  z-index: 101;
  background: rgba(255, 255, 255, 0.96);
  animation: fadeIn 0.5s;
  overflow: auto;
}
.fadeOutAnimation {
  animation: fadeOut 0.5s;
}
.fadeInAnimation {
  animation: fadeIn 0.8s;
}

/* ADS */
.mT-14 {
  margin-top: -61px;
}
.hidden {
  display: none;
}
.aDSOverlay {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 27px;
  background: rgba(0, 0, 0, 0.7);
}
.textUp {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  padding-top: 23%;
}
.justifyContentBetween {
  justify-content: space-between;
}
.imageContainer {
  width: 60%;
}

@keyframes slideRight {
  0% {
  }
  100% {
    width: 40%;
    transform: translateX(75%);
  }
}
@keyframes textSlideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.textSlideRight {
  animation: textSlideRight 1s;
}
@keyframes slideDown550 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(80%);
  }
}
.slideDown550 {
  animation: slideDown550 1s;
}
@keyframes slideDown {
  0% {
    display: block;
    transform: translateY(-100%);
  }
  100% {
    display: block;
    transform: translateY(0%);
  }
}
.imageHoverContainer {
  overflow: hidden;
}

.slideRight {
  animation: slideRight 1s;
}
.slideDown {
  animation: slideDown 1s;
}
.hiddenBlock {
  display: block;
}
.aDSOverlayHidden {
  display: none;
}
.mapOverlay {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 10%;
}

/* sitemap */
.hr {
  width: 30px;
  height: 3px;
  background-color: black;
}

.arrowDown {
  transform: rotate(90deg);
  margin-right: 0;
  z-index: -1;
}
.flatHr {
  height: 3px;
  background-color: black;
  margin-bottom: -1.8rem;
  margin-top: -2.3rem;
  margin-left: 2.87rem;
  margin-right: 3.4rem;
}
.sitemapContainer {
  margin: 8rem auto 16rem auto;
  width: 90vw;
}

.wADSHR {
  margin-left: 6.1rem;
  margin-right: 7rem;
}
.ADSAbsoluteContainer {
  left: -100%;
}
.linkContainer {
  text-wrap: nowrap;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.linksSitemap {
  padding: 0.8rem 1.6rem;
  background-color: white;
  border-radius: 1rem;
  z-index: 10;
}
.linksSitemap:hover {
  color: #009b77;
  animation: navlinkAnimation 0.5s;
}
.aDH {
  width: 5rem;
}
.homeSitemap {
  padding: 0.8rem 1.6rem;
  background-color: #009b77;
  color: white;
  border-radius: 1.5rem;
}

/* mobile screen */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .video,
  .h-60 {
    height: 40vh;
  }
  .structure {
    height: 33vh;
    width: 100%;
  }
  .home {
    height: 40vh;
    margin: 0 5rem;
  }
  .pLR67 {
    padding: 0 5rem;
  }
  .pL67 {
    margin-left: 5rem;
  }
  .pR67 {
    margin-right: 5rem;
  }
  .header {
    padding: 1rem 5rem;
  }
  .footer {
    padding: 8rem 5rem;
  }
  .mT {
    margin-top: 1rem;
  }
  .h-44 {
    height: 9rem;
  }
  .h-80 {
    height: 18rem;
  }
  .hutContainer {
    width: 40%;
    height: 36vh;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .h-44 {
    height: 8rem;
  }
  .container {
    max-width: 960px;
  }
  .h-60 {
    height: 40vh;
  }
  .video {
    height: 40vh;
  }
  .home {
    height: 40vh;
    margin: 0 4.5rem;
  }
  .h-80 {
    height: 17rem;
  }
  .structure {
    height: 30vh;
    width: 100%;
  }
  .hutContainer {
    width: 44%;
    height: 37vh;
  }
  .vastuBannerContainer {
    margin-top: -1.2rem;
  }
  .pLR67 {
    padding: 0 4.5rem;
  }
  .pL67 {
    margin-left: 4.5rem;
  }
  .pR67 {
    margin-right: 4.5rem;
  }
  .header {
    padding: 1rem 4.5rem;
  }
  .footer {
    padding: 7rem 4.5rem;
  }
  .mT {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  html {
    font-size: 12px;
  }
  .home {
    height: 40vh;
    margin: 0 4rem;
  }
  .structure {
    height: 33vh;
    width: 100%;
  }
  .pLR67 {
    padding: 0 4rem;
  }
  .pL67 {
    margin-left: 4rem;
  }
  .pR67 {
    margin-right: 4rem;
  }
  .vastuBannerContainer {
    margin-top: -1.8rem;
  }
  .header {
    padding: 1rem 4rem;
  }
  .right-24 {
    right: 4rem;
  }
  .h-60 {
    height: 40vh;
  }
  .video {
    height: 40vh;
  }
  .footer {
    padding: 6rem 4rem;
  }
  .mT {
    margin-top: 1.5rem;
  }
  .h-44 {
    height: 8rem;
  }
  .hutContainer {
    width: 40%;
    height: 36vh;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 576px;
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    padding: 2rem 3rem;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .navList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .navigationList {
    margin-bottom: 0.3rem;
  }
  .column {
    flex-direction: column;
  }
  .w100 {
    width: 100%;
  }
  .home {
    height: 40vh;
    margin: 0 3rem;
  }
  .structure {
    height: 33vh;
    width: 100%;
  }
  .pLR67 {
    padding: 0 3rem;
  }
  .pL67 {
    margin-left: 3rem;
  }
  .pR67 {
    margin-right: 3rem;
  }
  .mRT3 {
    margin-top: 3rem;
  }
  .m3 {
    margin: 8rem 3rem 0 3rem;
  }
  .h-44 {
    height: 9rem;
  }
  .header {
    padding: 1rem 3rem;
  }

  .leading-6 {
    line-height: normal;
  }

  .mt-72 {
    margin-top: 0;
  }
  .mr-7 {
    margin-right: 1rem;
  }
  .mt-72 {
    margin-top: 3rem;
  }
  .insights {
    width: 100vw;
    margin-left: 3rem;
    padding-right: 20vw;
  }
  .leading-9 {
    line-height: normal;
  }
  .m-28 {
    margin: 3rem;
  }
  .p-16 {
    padding: 3rem;
  }

  .w-250O {
    width: 31%;
  }
  .mt-350 {
    margin-top: 3rem;
  }

  .px-44 {
    padding: 0 3rem;
  }
  .pL0 {
    padding-left: 0;
  }
  .ml-20 {
    margin-left: 0;
  }
  .px-20 {
    padding: 3rem 0;
  }
  .collectionList {
    width: 21%;
    display: block;
    flex: 0 0 auto;
  }
  .right-24 {
    right: 3rem;
  }
  .selectedProjectsGrid {
    display: grid;
    grid-template-columns: repeat(3, 8.5rem);
    grid-template-rows: auto;
    gap: 0.75rem 1.5rem;
  }

  .h-60 {
    height: 40vh;
  }
  .h-48 {
    height: 10rem;
  }
  .video {
    height: 40vh;
  }
  .footer {
    padding: 5rem 3rem;
  }

  .mT {
    margin-top: 1.5rem;
  }
  .navLink {
    color: rgb(0, 0, 0);
  }

  .hutContainer {
    width: 47%;
    height: 42vh;
  }
  .-mt-3 {
    margin-top: -2.75rem;
  }
}
@media screen and (max-width: 468px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 440px;
  }

  .home {
    height: 30vh;
    margin: 0 2rem;
  }
  .structure {
    height: 20vh;
    width: 100%;
  }
  .video {
    height: 30vh;
  }
  .pLR67 {
    padding: 0 2rem;
  }
  .pL67 {
    margin-left: 2rem;
  }
  .pR67 {
    margin-right: 2rem;
  }
  .mRT3 {
    margin-top: 2rem;
  }

  .header {
    padding: 1rem 2rem;
  }
  .h-44 {
    height: 8rem;
  }
  .mr-7 {
    margin-right: 1rem;
  }
  .mt-72 {
    margin-top: 2rem;
  }
  .insights {
    width: 100vw;
    margin-left: 2rem;
    padding-right: 20vw;
  }
  .h-80 {
    height: 12rem;
  }
  .m-28 {
    margin: 2rem;
  }
  .p-16 {
    padding: 2rem;
  }
  .m3 {
    margin: 8rem 2rem 0 2rem;
  }
  .mt-350 {
    margin-top: 2rem;
  }

  .px-44 {
    padding: 0 2rem;
  }

  .px-20 {
    padding: 2rem 0;
  }
  .pL0 {
    padding-left: 0;
  }
  .ml-20 {
    margin-left: 0;
  }
  .right-24 {
    right: 2rem;
  }
  .h-60 {
    height: 30vh;
  }
  .footer {
    padding: 4rem 2rem;
  }

  .mT {
    margin-top: 1.5rem;
  }
  .hutBorder {
    width: 19.475rem;
  }
  .hutContainer {
    width: 80%;
    height: 45vh;
  }
  .bottom {
    width: 97.5%;
  }
  .right {
    transform: rotate(90deg);
    width: 8.125rem;
    right: 11%;
    bottom: 40%;
  }
  .desk {
    left: 20%;
  }
  .left {
    left: -30.7%;
    top: 42%;
    width: 25rem;
  }
  .chimney {
    top: 2%;
  }
}
