@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.fs-36 {
  font-weight: 600;
  font-size: 36px;
}

.fs-42 {
  font-weight: 600;
  font-size: 42px;
}
.fs-33 {
  font-weight: 500;
  font-size: 33px;
}
.fs-13 {
  font-weight: 600;
  font-size: 13px;
}
.fs-24 {
  font-weight: 600;
  font-size: 24px;
}
.fs-20 {
  font-weight: 600;
  font-size: 20px;
}
.fs-12 {
  font-weight: 600;
  font-size: 11px;
}

.fs-14 {
  font-weight: 600;
  font-size: 14px;
}
.fs-30 {
  font-weight: 500;
  font-size: 30px;
}
.fs-27 {
  font-weight: 700;
  font-size: 27px;
}
.fs-17 {
  font-weight: 600;
  font-size: 17px;
}
.fw-700 {
  font-weight: 700;
}
.black {
  color: black;
}
.white {
  color: white;
}
.pinkbg {
  background-color: #ae478c;
}
.gray {
  color: #636466;
}
.graybg {
  background-color: #636466;
}
.green {
  color: #009b77;
}
.greenbg {
  background-color: #009b77;
}
.flex {
  display: flex;
}
.center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.upArrowContainer {
  position: fixed;
  bottom: 15%;
  right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: smooth;
}
.top {
  scroll-behavior: smooth;
}
.upArrow {
  color: white;
  font-size: 1.25rem;
}
/* header */
.home {
  position: relative;
  height: 90vh;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}
.header {
  padding: 3.4375rem 5.875rem;
}
img {
  object-fit: cover;
}
.brand {
  color: rgb(0, 0, 0);
  font-weight: 600;
  letter-spacing: -2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  /* background-color: rgba(255, 255, 255, 0.5); */
  font-size: 40px;
}
.absoluteSidebar {
  position: absolute;
  top: 3.4375rem;
  left: 5.875rem;
  right: 5.875rem;
  z-index: 10;
}
.sidebar {
  box-shadow: 0px 1px 20px 0 rgba(0, 0, 0, 0.59);
  position: absolute;
  top: 0px;
  left: 80%;
  height: 90vh;
  width: 20%;
  background-color: white;
  padding: 1.875rem;
  z-index: 10;
  margin-right: 5%;
}
.navigationList {
  margin-top: 2.1875rem;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}
.close {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.pointer {
  cursor: pointer;
}
.navLink {
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.navLink:hover {
  text-decoration: underline;
}
.active {
  text-decoration: underline;
}
.no-underline {
  text-decoration: none;
}
.content-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
}
.pLR67 {
  padding: 0 5.875rem;
}
.mt-12 {
  margin-top: 12px;
}
.mt-6 {
  margin-top: 6px;
}

/* home */
.pL67 {
  margin-left: 5.875rem;
}
.pR67 {
  margin-right: 5.875rem;
}
.w50 {
  width: 50.5%;
}
.mt-144 {
  margin-top: 9rem;
}
.news1Image {
  height: 26.875rem;
  width: 100%;
}
.newsContent {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 0 7.5rem;
}
.border-bottom {
  border-bottom: 3px solid black;
}
.earthImage {
  height: 90vh;
  width: 100%;
}
.parallelImagesRight {
  width: 100%;
  height: 26.875rem;
}

.parallelImagesLeft {
  width: 100%;
  height: 30rem;
}
.w-727 {
  width: 57%;
}
.w-355 {
  width: 32.5%;
}

.collection {
  width: 120%;
  max-width: 113.3%;
  overflow: hidden;
  display: flex;
  align-items: start;
  margin-left: -10.625rem;
  transition: all 0.5s ease; /* Smooth transition for sliding */
}
.collectionList {
  width: 15.3125rem;
  display: block;
  flex: 0 0 auto;
}
.collectionList:nth-last-child(1) {
  margin-right: 0;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
.collectionImage {
  width: 15.3125rem;
  height: 10.625rem;
  margin-bottom: 30px;
}
.border-bottom-white {
  border-bottom: 3px solid white;
}
.bigImage {
  width: 76vw;
  height: 89vh;
}
.insights {
  width: 70vw;
  padding-right: 20vw;
}

/* work */
.selectedProjectsGrid {
  display: grid;
  grid-template-columns: repeat(3, 12.5rem);
  grid-template-rows: auto;
  gap: 0.75rem 1.5rem;
}
.line {
  width: 70px;
  height: 3px;
  background-color: black;
}
.projectsList {
  width: 103%;
  flex-wrap: wrap;
}
.project {
  margin-right: 30px;
}
.w-250 {
  width: 15.625rem;
}

/* our purpose */
.ourPurposeImage {
  width: 100%;
  height: 28.75rem;
}
.w-4x3 {
  width: 22.5rem;
  height: 17.5rem;
}
.mt-350 {
  margin-top: 21.875rem;
}
.p-60 {
  padding: 0 5rem;
}
.ppImage {
  width: 35.625rem;
  height: 22.5rem;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.footer {
  margin-top: 20rem;
}
.video {
  width: 100%;
  height: 80vh;
}
